.home__page{
    background-image: url(../img/backgrounds/laptop-2557586_1280.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    justify-content: space-evenly;

}



.home-heading{
    font-size: var(--extra-large-fs);
    font-weight: var(--bolt-fw);
   position: relative;
   width: 350px;
    display: grid;
    grid-template-columns: 40% 40%  ;
    grid-template-rows: 1fr;
    -webkit-text-stroke:.1px rgb(255, 255, 255);
    text-transform: uppercase;
    z-index: 1000;
    
}

.home__page  .heading{  
    width: max-content;   
    user-select: none;
    cursor: pointer;
    letter-spacing: var(--letter-spacing); 
    animation: hiding-main 5s linear  infinite ;
    z-index: 1000;

}
.sub-heading{
    width: max-content;
    user-select: none;
    cursor: pointer;
    letter-spacing: var(--letter-spacing);
    opacity: 0;
    animation: showing-sub 5s linear  infinite ;
    z-index: 1000;
    transform: translateX(-40%);
    margin-top: 10px;
}
@keyframes hiding-main{
    0%{
        opacity: 1;
        
    }
    5%{
        opacity: 1;
       
    }
    10%{
        opacity: 1;
      
    }
    15%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    25%{
        opacity: 1;
        
    }
    30%{
        opacity: 0;
     
    } 
    35%{
        opacity: 0;
     
    
    } 
    40%{
        opacity: 0;
 
    } 
    50%{
        opacity: 0;
        
    
    } 
    60%{
        opacity: 0;
       
    
    } 
    70%{
        opacity: 0;
       
    
    } 
    80%{
        opacity: 0;
    
    } 
    85%{
        opacity: 1;

      
       
    }
    90%{
        opacity: 1;
     
    }
    95%{
        opacity: 1;
  
    } 
    100%{
        opacity: 1;
       
    
    } 
      
  
      
}

@keyframes showing-sub {
    0%{
        opacity: 0;
       
    }
    5%{
        opacity: 0;
       
    }
    10%{
        opacity: 0;
    }
    15%{
        opacity: 0;
       
    }
    20%{
        opacity: 0;
      
    }
    25%{
        opacity: .1;
        
    }
    30%{
        opacity: 1;
        
    
    } 
    35%{
        opacity: 1;
        
    
    } 
    40%{
        opacity: 1;
        
    
    } 
    50%{
        opacity: 1;
        
    
    } 
    60%{
        opacity: 1;
        
    
    } 
    70%{
        opacity: 1;
        
    
    } 
    80%{
        opacity: 1;
      
    
    } 
    85%{
        opacity: 0;
       
    }
    90%{
        opacity: 0;
       
    }
    95%{
        opacity: 0;
       
    } 
    100%{
        opacity: 0;
       
    
    } 
      
      
   
    
    
}
.home__page blockquote{
   
    font-family: var(--buttons-font);
    text-transform: capitalize;
    font-size: var(--large-fs);
    font-weight: var(--middle-fw);
   color: var(--special-text-color);
   -webkit-text-stroke: .1px var(--special-text-color);
   text-shadow: 0 0 2px white;
   border: 1px solid var(--special-text-color);
   box-shadow: 0 0 10px 1px whitesmoke;
   padding: 15px 26px;
   border-radius: var(--br);
   cursor: pointer;
   z-index: 1000;
   transition: .4s;
}
.home__page blockquote:hover{
    background-color: var(--special-text-color);
    color: aliceblue;
    box-shadow:0 0 5px 3px var(--special-text-color);
}

.home__page p {
    max-width: 450px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--middle-fw);
    font-size: var(--middle-fs);
    text-shadow: 0 0 5px  white,
    0 -1px 10px rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1000;
}
.all-btns{
   background-color: transparent;
    width: var(--cage-width);
    height: var(--cage-height);
     backdrop-filter: var(--regular-blur);
    border: 1px solid var(--special-text-color);
    box-shadow: 0 0 5px 3px whitesmoke;
    border-radius: var(--br);
    transition: .4s;
    cursor: pointer;
    font-weight: var(--middle-fw);
    color: var(--special-text-color);
    font-size: var(--regular-fs);
    text-transform: uppercase;
    z-index: 1000;
}
.all-btns:hover{
   background-color: var(--special-text-color);
   color: aliceblue;
   box-shadow:0 0 5px 3px var(--special-text-color);
    
}
