.home__page{

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    justify-content: space-evenly;
    box-shadow:inset 0 0 5px red, 0 0 10px rgb(17, 3, 218);
  
}



.home-heading{
    font-size: var(--extra-large-fs);
    font-weight: var(--bolt-fw);
   position: relative;
   width: 350px;
    display: grid;
    grid-template-columns: 40% 40%  ;
    grid-template-rows: 1fr;
    text-transform: uppercase;
    z-index: 1000;
    color: aliceblue;
}
#rr{
    width: 20px;
}

.home__page  .heading{  
    width: max-content;   
    user-select: none;
    cursor: pointer;
    letter-spacing: var(--letter-spacing); 
    animation: hiding-main 5s linear  infinite ;
    z-index: 1000;
    -webkit-text-stroke:.1px rgb(0, 26, 255);
    text-shadow: 0 0 10px blue;
}
.sub-heading{
    width: max-content;
    user-select: none;
    cursor: pointer;
    letter-spacing: var(--letter-spacing);
    opacity: 0;
    animation: showing-sub 5s linear  infinite ;
    z-index: 1000;
    transform: translateX(-40%);
    -webkit-text-stroke:.1px rgb(255, 0, 0);
    text-shadow: 0 0 10px red;
}
@keyframes hiding-main{
    0%{
        opacity: 1;
        
    }
    5%{
        opacity: 1;
       
    }
    10%{
        opacity: 1;
      
    }
    15%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    25%{
        opacity: 1;
        
    }
    30%{
        opacity: 0;
     
    } 
    35%{
        opacity: 0;
     
    
    } 
    40%{
        opacity: 0;
 
    } 
    50%{
        opacity: 0;
        
    
    } 
    60%{
        opacity: 0;
       
    
    } 
    70%{
        opacity: 0;
       
    
    } 
    80%{
        opacity: 0;
    
    } 
    85%{
        opacity: 1;

      
       
    }
    90%{
        opacity: 1;
     
    }
    95%{
        opacity: 1;
  
    } 
    100%{
        opacity: 1;
       
    
    } 
      
  
      
}

@keyframes showing-sub {
    0%{
        opacity: 0;
       
    }
    5%{
        opacity: 0;
       
    }
    10%{
        opacity: 0;
    }
    15%{
        opacity: 0;
       
    }
    20%{
        opacity: 0;
      
    }
    25%{
        opacity: .1;
        
    }
    30%{
        opacity: 1;
        
    
    } 
    35%{
        opacity: 1;
        
    
    } 
    40%{
        opacity: 1;
        
    
    } 
    50%{
        opacity: 1;
        
    
    } 
    60%{
        opacity: 1;
        
    
    } 
    70%{
        opacity: 1;
        
    
    } 
    80%{
        opacity: 1;
      
    
    } 
    85%{
        opacity: 0;
       
    }
    90%{
        opacity: 0;
       
    }
    95%{
        opacity: 0;
       
    } 
    100%{
        opacity: 0;
       
    
    } 
      
      
   
    
    
}




.all-btns{
    width: var(--cage-width);
    height: var(--cage-height);
    cursor: pointer;
    font-weight: var(--middle-fw);
    font-size: var(--regular-fs);
    text-transform: uppercase;
    text-shadow: 0 0 1px rgb(255, 255, 255);
    box-shadow: 0 0 5px red;
    z-index: 1000;
    position: relative;
    overflow: hidden;
    transition: .5s ease ;
    background: linear-gradient(356deg, rgba(255,0,0,0.57) 0%, rgba(0,18,252,0.51) 100%);
    animation: gradient-animation 2s infinite alternate;
    background-size: 200% 200%;
}

@keyframes gradient-animation {
  
   
    0% {
        background-position: 0% 50%;
        text-shadow: 0 0 1px rgb(255, 0, 0);
        color: blue;
        color: rgba(255, 255, 255, 0.288);
      }
      50% {
        background-position: 100% 50%;
 
      }
      100% {
        background-position: 0% 50%;
        text-shadow: 0 0 1px rgb(0, 17, 255);
        color: red;
        color: rgba(255, 255, 255, 0.288);
      }
      
  }

.all-btns:hover{
transform: scale(1.1);
}

.skills-list{
    position: relative;
    bottom: 50px;
    left: 22px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,   20vw);   
    color: aliceblue;
    list-style: none;
}
.skill{
    height: 300px;
 
    margin: auto;
    display: flex;
    flex-direction: column;
    list-style: none; 
    height: 300px;
    align-items:center ;
   justify-content: space-around;
}
.skill span{
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--bolt-fw);
    font-size: var(--large-fs);
    letter-spacing: var(--letter-spacing);
    color:white ;
}

.technologies{
   list-style: none;
   text-transform: uppercase;
   display: flex;
   flex-direction:column ;
   gap: 10px;
}
.technologies li {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   align-items: center;
}
.technologies li img{
    margin: 0px 0px 5px 5px;

}
.skill-icon{
    border-radius: 10px;
    width: 100px;
    transition: .4s;
    background-color: aliceblue;
}
.skill-icon:hover{
    transform: scale(1.2);
}
.tool-item img{
    width:30px;
    background-color: transparent;
  position: relative;
  z-index: 999;

}
.tool-item:nth-child(2){
  background-color: aliceblue;
}
.row-tool{
   position: absolute;
   top: 450px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 99%;
    align-items: center;
    list-style: none;
    background: linear-gradient(97deg, rgba(255, 0, 0, 0.445) 0%, rgba(9,21,129,1) 51%, rgba(252, 0, 0, 0.527) 100%);
    animation: gradient-animation 3s infinite alternate;
    background-size: 200% 200%;
    
}
.tool-box__heading{
    position: absolute;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: var(--middle-fw);
    letter-spacing: var(--letter-spacing);

}