.home__page{
    
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: darkgray;
}


.home-heading{

   position: relative;
   width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 40% 40%  ;
    grid-template-rows: 1fr;
    

}
.home-heading span{
font-size: var(--large-fs);
text-transform: uppercase;
font-weight:var(--middle-fw);
}

.home__page  .heading{ 

    width: max-content;
    font-size: var(--large-fs);
    text-transform: uppercase;
    font-weight: var(--middle-fw);
    user-select: none;
    cursor: pointer;
    letter-spacing: var(--letter-spacing); 
    animation: hiding-main 6s linear infinite ;
    
}
.sub-heading{
    width: max-content;
    font-weight: var(--middle-fw);
    text-transform: uppercase;
    font-size: var(--large-fs);
    user-select: none;
    cursor: pointer;
    letter-spacing: var(--letter-spacing);
    transform: translateX(-140px);
    opacity: 0;
    visibility: hidden;
    animation: showing-sub 6s linear  infinite ;
}
@keyframes showing-sub {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    5%{
        opacity: 0;
        visibility: hidden;
    }
    10%{
        opacity: 0;
        visibility: hidden;
    }
    15%{
        opacity: 0;
        visibility: hidden;
    }
    20%{
        opacity: 1;
        visibility: visible;
    }
    25%{
        opacity: 1;
        visibility: visible;
    }
    30%{
        opacity: 1;
        visibility: visible;
    
    } 
    35%{
        opacity: 1;
        visibility: visible;
    
    } 
    40%{
        opacity: 1;
        visibility: visible;
    
    } 
    50%{
        opacity: 1;
        visibility: visible;
    
    } 
    60%{
        opacity: 1;
        visibility: visible;
    
    } 
    70%{
        opacity: 1;
        visibility: visible;
    
    } 
    80%{
        opacity: 1;
        visibility: visible;
    
    } 
    85%{
        opacity: 0;
        visibility: hidden;
       
    }
    90%{
        opacity: 0;
        visibility: hidden;
    }
    95%{
        opacity: 0;
        visibility: hidden;
    } 
    100%{
        opacity: 0;
        visibility: hidden;
    
    } 
      
      
   
    
    
}
@keyframes hiding-main{
    0%{
        opacity: 1;
        visibility:visible;
    }
    5%{
        opacity: 1;
        visibility:visible;
    }
    10%{
        opacity: 1;
        visibility:visible;
    }
    15%{
        opacity: 1;
        visibility:visible;
    }
    20%{
        opacity: 0;
        visibility: hidden;
    }
    25%{
        opacity: 0;
        visibility: hidden;
    }
    30%{
        opacity: 0;
        visibility: hidden;
    } 
    35%{
        opacity: 0;
        visibility: hidden;
    
    } 
    40%{
        opacity: 0;
        visibility: hidden;
    
    } 
    50%{
        opacity: 0;
        visibility: hidden;
    
    } 
    60%{
        opacity: 0;
        visibility: hidden;
    
    } 
    70%{
        opacity: 0;
        visibility: hidden;
    
    } 
    80%{
        opacity: 0;
        visibility: hidden;
    
    } 
    85%{
        opacity: 1;
        visibility:visible;
      
       
    }
    90%{
        opacity: 1;
        visibility: visible;
    }
    95%{
        opacity: 1;
        visibility: visible;
    } 
    100%{
        opacity: 1;
        visibility: visible;
    
    } 
      
  
      
}
.home-heading p{
    width: 700px;
    text-align: center;
    position: absolute;
    right:  50%;
    top: 100%;
    transform: translateX(50%);
}
