@font-face {
    font-family: exo;
    src: url(../fonts/exo/Exo-Regular.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}
@font-face {
    font-family: titillium;
    src: url(../fonts/till/TitilliumWeb-Regular.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}

body{
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    position: fixed;
    background-image: url(../img/backgrounds/maiinBG-3435249.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .main::after{
    content: 'Oleksii Ilchenko';
    display: inline-block;
    z-index: 999;
    color:white ;
    position: absolute;
    writing-mode: vertical-lr;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--middle-fs);
    border: 1px solid red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: -1px;
    padding: 5px;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: var(--middle-fw);
    cursor: pointer;
    text-transform: uppercase;
} */

.main::-webkit-scrollbar{
    display: none;
}

:root{
    --primary-font: 'exo', sans-serif;
    --buttons-font: 'titillium' , 'sans-serif';
    --special-text-color:rgb(255, 0, 0);
    --redBr: 1px solid rgba(255, 0, 0, 0.411);
    --blueBr: 1px solid rgba(14, 0, 209, 0.411);
    --letter-spacing:1.5px;
    --regular-blur:blur(10px);
    --cage-height:41px;
    --cage-width:200px;
    --regular-fs:16px;
    --middle-fs:20px;
    --large-fs:30px;
    --extra-large-fs:50px;
    --regular-fw:400;
    --middle-fw:600;
    --bolt-fw:900;
    --br:20px;
}














/* GENERAL STYLES OF PAGES_______________________________________________ */

.main{
    margin: auto;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: repeat(3, 1fr);

}
.page{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: var(--regular-blur);
    margin: auto;
 
}

/* ______________btns____to____see____where___the__User__is */
.nav-section__line-wrapper{

display: none;
}
.nav-section__line{
z-index: 999;
display: flex;
flex-direction: column;
align-items: center;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
background-color: #ff5202d2;
width: 30px;
height: 300px;


}

.navigation-btn{
    margin: auto;
transform: scale(-1);
    text-transform: uppercase;
font-weight: 600;
color: rgb(2, 14, 131);
writing-mode: vertical-lr;
letter-spacing: 2px;
transition: .4s;
position: relative;
bottom: 20px;
user-select: none;
}


:is(#rb1, #rb2, #rb3){
opacity: 0;
visibility: hidden;
z-index: -10;
}
#rb1:checked ~ .rb1{
    color: aqua;
}
#rb2:checked ~ .rb2{
    color: aqua;
}
#rb3:checked ~ .rb3{
    color: aqua;
}


@keyframes nav-gradient-animation{
  
   
    0% {
        background-position: 0% 50%;
       
    
      }
    
      100% {
        background-position: 0% 50%;
    
      }
      
  }
.nav-section__line-wrapper:hover .nav-section__line {

}
.nav-section__line-wrapper:hover .nav-section__line .navigation-btn{

}
.gggg{
    
  
}
