@font-face {
    font-family: exo;
    src: url(../fonts/exo/Exo-Regular.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}
@font-face {
    font-family: titillium;
    src: url(../fonts/till/TitilliumWeb-Regular.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}

body{
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    position: fixed;
    background-image: url(../img/backgrounds/maiinBG-3435249.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main::-webkit-scrollbar{
    display: none;
}

:root{
    --primary-font: 'exo', sans-serif;
    --buttons-font: 'titillium' , 'sans-serif';
    --special-text-color:rgb(255, 0, 0);
    --redBr: 1px solid rgba(255, 0, 0, 0.411);
    --blueBr: 1px solid rgba(14, 0, 209, 0.411);
    --letter-spacing:1.5px;
    --regular-blur:blur(10px);
    --cage-height:41px;
    --cage-width:200px;
    --regular-fs:16px;
    --middle-fs:20px;
    --large-fs:30px;
    --extra-large-fs:50px;
    --regular-fw:400;
    --middle-fw:600;
    --bolt-fw:900;
    --br:20px;
}














/* GENERAL STYLES OF PAGES_______________________________________________ */

.main{
    margin: auto;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: repeat(3, 1fr);

}
.page{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: var(--regular-blur);
    margin: auto;
 
}

/* ______________btns____to____see____where___the__User__is */
.nav-section__line-wrapper{
   width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 888;
    display: flex;
    justify-content: end;

}
.nav-section__line{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: .4s;
    
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
.navigation-btn{
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 10px;
    display: inline-block;
    z-index: 999;
    transition: .4s;
    background: linear-gradient(97deg, rgba(255, 0, 0, 0.445) 0%, rgb(129, 9, 9) 51%, rgba(0, 109, 252, 0.527) 100%);
    animation: nav-gradient-animation 3s infinite alternate;
    background-size: 500% 500%;
    cursor: pointer;
}

@keyframes nav-gradient-animation{
  
   
    0% {
        background-position: 0% 50%;
       
    
      }
    
      100% {
        background-position: 0% 50%;
    
      }
      
  }
.nav-section__line-wrapper:hover .nav-section__line {
width: 80%;
}
.nav-section__line-wrapper:hover .nav-section__line .navigation-btn{
border-radius: 50%;
transform: scale(1.9);
}
