@font-face {
    font-family: exo;
    src: url(../fonts/exo/Exo-Regular.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}
@font-face {
    font-family: titillium;
    src: url(../fonts/till/TitilliumWeb-Regular.woff2);
    font-style: normal;
    font-weight: 16px;
    font-display: swap;
}

body{
    font-family: var(--primary-font);
    overflow: hidden;
    scroll-behavior: smooth;

   
}

.main::-webkit-scrollbar{
    display: none;
}

:root{
    --primary-font: 'exo', sans-serif;
    --font-color: rgb(1, 1, 54);
    --buttons-font: 'titillium' , 'sans-serif';
    --special-text-color:rgb(255, 117, 117);
    --letter-spacing:1.5px;
    --regular-blur:blur(15px);
    --cage-height:41px;
    --cage-width:200px;
    --regular-fs:16px;
    --middle-fs:20px;
    --large-fs:30px;
    --extra-large-fs:50px;
    --regular-fw:400;
    --middle-fw:600;
    --bolt-fw:900;
    --br:20px;
}





























/* LEFT BUTTONS TO GOES TO PAGES_________________________________ */









.nav-section__line{
    width: 30px;
    height: 250px;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding:  1px;
    z-index: 1000;

}
.nav-section__line:hover .nav-btn{
    transform: scaleX(2);
    border-right: none;

    }

.nav-section__line > input[type="radio"]{
    opacity: 0;
    z-index: 0;
    visibility: hidden;
}
.nav-btn{
    width: 5px;
   
    height: var(--cage-hight);
    background-color: aliceblue;
    margin: 5px;
    z-index: 1000;
    border-radius: 15px;
    position: relative;
    left: 5px;
    cursor: pointer;
    transition: .4s;


}


.nav-btn:after{
    content: '';
    display: inline-block;
    width: 3px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY( -50%);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
   
}
.nav-section__line  input[type="radio"]:nth-child(1):checked ~ .nav-btn:nth-last-child(5):after{
    opacity: 1;
    visibility: visible;
    width:100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
}
.nav-section__line  input[type="radio"]:nth-child(2):checked ~.nav-btn:nth-last-child(4):after{
    opacity: 1;
    visibility: visible;
    width:100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
}
.nav-section__line  input[type="radio"]:nth-child(3):checked ~.nav-btn:nth-last-child(3):after{
    opacity: 1;
    visibility: visible;
    width:100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
}
.nav-section__line  input[type="radio"]:nth-child(4):checked ~.nav-btn:nth-last-child(2):after{
    opacity: 1;
    visibility: visible;
    width:100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
}
.nav-section__line  input[type="radio"]:nth-child(5):checked ~.nav-btn:nth-last-child(1):after{
    opacity: 1;
    visibility: visible;
    width:100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
}














































































/* GENERAL STYLES OF PAGES_______________________________________________ */

.main{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
.page{
    scroll-behavior: smooth;
    scroll-snap-align: start;
    width: 100vw;
    height: 90vh;
    box-shadow: 0 0 10px;
}
.page:hover .heading::after{
    opacity: 1;
    transform: scaleX(1.1);
    margin-top: 15px;
}

.heading{
    user-select: none;
    cursor: pointer;
  
}
/* .heading::after{
    content: '';
    display: inline-block;
    position: relative; 
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: 15px;
    opacity: 0;
    transform: scaleX(0);
    transition: .4s;
} */



/* .home__page{

}
 */

